{
    "env": {
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "airbnb-base", "plugin:jest/recommended"
    ],
    "plugins": ["promise", "jest", "fstore"],
    "parserOptions": {
        "ecmaVersion": 12
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }]
    },
    "overrides": [
        {
            "files": "functions/*/main.js",
            "rules": {
                "fstore/export-function-as-default": ["error"]
            }
        }
    ]
}
